.login-main{
  margin-top: 10%;
  border-radius: 10px;
  }
  mat-card{
  min-width: 30%;
  min-height: 50%;
  height: 50%;
  }

  .example-header-image {
    background-image: url('../../favicon.ico');
    background-size: cover;
  }
